* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 72px;
}

#nameContainer {
    display: flex;
    align-items: center;
}

#nameContainer h2 {
    color: #fff;
}

#infoTabContainer {
    display: flex;
}

.infoTab {
    padding: 32px 24px;
    list-style-type: none;
    font-size: 16px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
}

.contact {
    background-color: #5221e6;
    color: #fff;
}

.experience:hover,
.work:hover,
.projects:hover {
    color: #0ff;
    transition: 250ms ease-in-out;
}

.contact:hover {
    background-color: #5121a6;
    transition: 350ms ease-in-out;
}

.heroWrapper {
    display: flex;
    align-items: center;
}

.heroImage {
    position: relative;
    left: -800px;
    height: 728px;
    width: 40vw;
    animation: imgRight 1s forwards;
}

.heroText {
    position: relative;
    left: 1200px;
    animation: textLeft 1.4s forwards;
}

.heroText h1 {
    font-size: 76px;
    color: #fff;
}

.heroText p {
    font-size: 20px;
    color: #fff;
    line-height: 27px;
}

.heroSection {
    color: rgba(255, 255, 255, 0.5);
}

.rightBg {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    background-color: #0b0025;
    z-index: -10;
}

.leftBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background-color: #000;
    z-index: -10;
}

.workContainer {
    display: flex;
    flex-direction: column;
    padding: 165px 72px 120px 72px;
    position: relative;
    background-color: #000;
    color: #fff;
}

#workExperienceContainer {
    display: flex;
    justify-content: space-evenly;
}

#workExperienceContainer li {
    list-style-type: none;
}

#workExperienceContainer li h3 {
    font-size: 117px;
    font-weight: 400;
    line-height: 117px;
    color: rgb(132, 145, 160);
    margin: 0;
}

#workExperienceContainer li p {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

#workExperienceContainer span {
    color: green;
}

#workExperienceText h2 {
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 700;
    line-height: 24px;
}

#workExperienceText p {
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}

.philosopyContainer {
    display: flex;
    height: 600px;
}

.philosophyTextContainer {
    width: 50%;
    height: 100%;
    padding: 120px 72px;
    background-color: rgb(255, 243, 228);
}
.philosophyTextContainer h2 {
    color: rgb(24, 24, 35);
    font-size: 55px;
    font-weight: 700;
}

.philosopyImgContainer {
    width: 50%;
}

.philosopyImgContainer img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.progressContainer {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 8px;
}

#myBar {
    height: 8px;
    background-color: #5121a6;
    width: 0%;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.workExperience:nth-child(2) {
    transition-delay: 200ms;
}

.workExperience:nth-child(3) {
    transition-delay: 400ms;
}

.skillsetContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #000;
    margin: 0;
    padding: 120px 72px;
}

.skillsets {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 0 0 80px;
    gap: 25%;
}

.skillsets li {
    width: 35%;
}

.skillsetTextContainer h2,
.skillsets li h2 {
    color: #fff;
    margin: 0;
    font-size: 55px;
    font-weight: 700;
}

.skillsetTextContainer p,
.skillsets li p {
    color: rgb(132, 145, 160);
    font-size: 16px;
    width: 60%;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 120px 72px;
    background-color: #000;
    color: #fff;
    row-gap: 32px;
}

.projectsContainer .card:nth-child(odd) {
    transform: translateY(-50%);
}

.projectText {
    width: 48%;
}

.projectText h4 {
    color: rgb(132, 145, 160);
    font-size: 16px;
    font-weight: 700;
}

.projectText p {
    font-size: 55px;
    font-family: "Lato", sans-serif;
    margin: 0;
    max-width: 550px;
}

.card {
    width: 48%;
    background-color: rgb(24, 24, 35);
    border-radius: 16px;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.cardText {
    padding: 40px 32px;
}

.projectBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    transform: translateY(-180px);
}

.projectBtnContainer button {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    padding: 24px 32px;
    border: rgb(82, 33, 230) solid 1px;
    background: none;
    transition: transform 0.35s ease-in-out;
    cursor: pointer;
}

.projectBtnContainer button:hover {
    background: #5221e6;
    box-shadow: 0 5px 60px 0 rgba(82, 33, 230, 0.3);
    transform: translateY(-5px);
}

.socialMediaContainer {
    display: flex;
    height: 600px;
}

.socialText {
    width: 50%;
    height: 100%;
    padding: 120px 72px;
    background-color: #fbe4ff;
}
.socialText h2 {
    color: rgb(24, 24, 35);
    font-size: 55px;
    font-weight: 700;
}

.socialImgContainer {
    width: 50%;
}

.socialImgContainer img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@keyframes imgRight {
    100% {
        left: 0;
    }
}

@keyframes textLeft {
    100% {
        left: -8%;
    }
}
